
  <nav class="nav nav-tabs ">
    <ul class="nav nav-item">
    <li><a class="nav-link navbar-brand" routerLink="/home" routerLinkActive="acive">home </a></li>
    <li><a class="nav-link navbar-brand" routerLink="/aboutus">about us </a> </li>
    <li> <a class="nav-link navbar-brand" routerLink="/eventsandacts">events & activities</a></li>
        <li> <a class="nav-link navbar-brand" routerLink="/contact"> contact</a></li>
    </ul>
    
    <form class="navbar-form navbar-left" ></form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
</nav>
  

